.block{
  cursor: pointer;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  border-radius: 5px;

}
.block:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: filter;
  transition-duration: 0.7s;
}

.modal{
  background-color: #f5f6fa;
  width: 850px;
  height:650px;
  position: absolute;
  border-radius: 5px;
  display: flex;
}
.modalPicture{
  background-color: #101218;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 850px;
  height:650px;
  flex: 1.7;
}
.modalResume{
  background-color: #262a36;
  width: 850px;
  height:650px;
  flex: 2;
}
.close{
  position: absolute;
  background-color: white;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: block;
  left:840px;
  top:-17px;
  font-size: 22px;
}
.close:hover{
  border: 1px solid black;
}
li{
  font-size: 18px;
}

li::before{
  content:'↪ '
}

a{
  text-decoration: none;
  color:#333;
}
@media screen and (max-width: 640px) {
  .block{
    background-color: white;
  }
  .modalPicture{
    display: none;
  }
}
