.customTextAnimation{
  display: inline-block;
}
.customTextAnimation:hover {
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s;
}
.title{
  font-size: 3rem;
}
.text{
  font-size: 1.45rem;
  margin-top: 0;
}

.scrollAnimation{
    animation: heartBeat 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
