
.blockSkills{
  width: 20vw;
  margin: 5px;
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h3{
  font-weight: 400;
  font-family: sans-serif;
  
}

p{
  font-weight: 100;
  font-family: sans-serif;
}
